.task-enter-active, .task-leave-active {
    transition: all 0.5s ease;
}
.task-enter, .task-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
.modal {
    transition: opacity 0.3s ease;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.animate-spin {
    animation: spin 1s linear infinite;
}
/* Custom styling for close button inside modal */
.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}
.close-btn:hover {
    color: #000;
}

.deshbordstyle{
margin-left: 100px;
}